@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box; }

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

body {
    background-color: #0C1B33;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background-color: #0C1B33;
    color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 99%;;
    padding: 20px 0;
    color: #D7E8BA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

header button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    margin-right: 10px;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

header button:hover {
    transform: scale(1.03);
}

.homeBtn {
    background-color: #DCEED1;
}

.logoutBtn {
    background-color: #FF4B3E;
}

.title {
    width: 80%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.cherry-cream-soda {
    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 400;
    font-style: normal;
    transform: scaleY(1.2);
}

textarea {
    resize: none;
}

.wrong{
    box-shadow: 0 0 10px rgba(244, 0, 0, 0.3);
}

/* Deactivating autofill to change background & font color */
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #0C1B33;
}
.signup input:-webkit-autofill,
.signup input:-webkit-autofill:hover,
.signup input:-webkit-autofill:focus,
.signup input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #0C1B33;
}
.newQuizForm input:-webkit-autofill,
.newQuizForm input:-webkit-autofill:hover,
.newQuizForm input:-webkit-autofill:focus,
.newQuizForm input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #0C1B33;
}

/* Responsive */
@media screen and (max-height: 700px) {
    .wrap {
        height: calc(100vh - 100px);
        position: absolute;
        bottom: 0;
    }

    #wrap {
        padding: 20px 0 40px 0 !important;
    }

    .title {
        font-size: 40px;
    }

    /* Quizzzes page */
    .quiz input {
        font-size: 22px !important;
    }

    .quiz .quiz-description {
        font-size: 18px;
    }

    .quiz img {
        max-height: 150px !important;
    }
}

@media screen and (max-width: 1150px) {
    /* Quizzes page */
    .quizzesBtnWrap {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) {
    /* Edit Quiz page */
    .editQuizForm,
    .newQuestionForm {
        width: 80% !important;
    }

    /* Moderated mode */
    #options .answer {
        padding: 20px;
        font-size: 16px;
    }

    /* Edit Questions page */
    .questionsWrap {
        width: 80% !important;
    }
    .questionsWrap .question {
        padding: 30px 30px 20px 30px;
    }
}

@media screen and (max-width: 650px) {
    /* Edit Quiz page & Add question page*/
    .editQuizForm {
        width: 90% !important;
    }
    .editQuizForm .button-container a,
    .editQuizForm .saveBtn {
        padding: 15px 20px;
    }

    /* Create quiz page */
    .newQuizForm {
        width: 90% !important;
        padding: 30px !important;
    }

    /* Moderated mode */
    #question-container {
        width: 90%;
    }

    #question {
        padding: 10px !important;
    }

    #options {
        padding: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .wrap {
        height: calc(100vh - 73.6px);
        position: absolute;
        bottom: 0;
    }

    header button {
        padding: 8px 20px !important;
        font-size: 14px !important;
    }
    
    .title {
        font-size: 35px !important;
    }
    
    /* Login & Signup page */
    .login,
    .signup {
        padding: 50px 10px !important;
        gap: 20px !important;
    }

    .login .id, 
    .login .pw,
    .signup .id, 
    .signup .pw {
        width: 85%;
        height: 30px;
        font-size: 18px;
        padding: 25px;
        border-radius: 13px;
    }

    .login .btn,
    .signup .btn {
        width: 85%;
        height: 50px;
    }

    .login .desc,
    .signup .desc {
        width: 85%;
        text-align: center;
    }

    /* Main page */

    /* Questions page */
    .questions {
        width: 90% !important;
    }

    .answersOption button {
        padding: 20px !important;
    }

    .answersOption img {
        max-width: 100% !important;
    }

    /* Edit Quiz page & Add Question page */
    .editQuizForm,
    .newQuestionForm {
        padding: 30px !important;
    }
    .newQuestionForm input,
    .newQuestionForm select {
        padding: 10px 15px !important;
    }

    .newQuestionForm .mediaType {
        margin: 0;
    }
    .newQuestionForm .addAnswerBtn,
    .newQuestionForm .addQuestionBtn {
        padding: 20px 50px !important;
        font-size: 18px;
    }

    /* Moderated mode */
    #question {
        font-size: 25px !important;
    }

}

@media screen and (max-width: 450px) {
    /* Edit Quiz page */
    .editQuizForm .button-container a,
    .editQuizForm .saveBtn {
        font-size: 18px;
    }

    /* Moderated mode */
    #next-button {
        padding: 15px 25px !important;
        font-size: 18px !important;
        border-radius: 12px !important;
    }

    /* Edit Questions page */
    .questionsWrap .editBtn,
    .questionsWrap .deleteBtn {
        padding: 15px 30px;
        font-size: 16px;
    }
}